.contato{
	background-color: var(--branco-principal);
	padding: 1em;
}

.contato__titulo{
	font-weight: 500;
	font-size: 18px;
	background-image: var(--azul-degrade);
	background-clip: text;
	-webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
	-webkit-text-fill-color: transparent;
	color: black;
	padding: 1em 0;
}

.contato__texto{
	background-image: var(--azul-degrade);
	background-clip: text;
	-webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
	-webkit-text-fill-color: transparent;
	color: black;
	line-height: 24px;
	font-weight: 300;
	padding-bottom: 1em;
}

.contato__email{
	border: 1px solid #002F52;
	border-radius: 24px;
	padding: 1em;
	width: 90%;
	color: var(--azul-degrade);
}

.contato__email::placeholder{
	font-family: var(--fonte-principal);
	font-size: 16px;
	font-weight: 400;
	color: var(--azul-degrade);
	padding-left: 3em;
	background: url("../img/Email.svg");
	background-repeat: no-repeat;
	background-position: 1em;
}

/* ############## LAYOUT 1024 - TABLET ##############*/

@media screen and (min-width: 1024px){
	.contato{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contato__email{
		width: 30%;
		padding: 1em;
	}

	.contato__titulo{
		font-size: 24px;
	}

	.contato__titulo, .contato__texto{
		width: 70%;
	}
}

/* ############## LAYOUT 1728 - TABLET ##############*/

@media screen and (min-width: 1728px){

	.contato{
		padding: 2em 8em 2em 8em;
	}

	.contato__titulo{
		width: 85%;
	}

}